<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Access-Control-Allow-Origin" content="*" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
		<title></title>
	</head>
	<body  background="img/bg-fix.jpg" style="background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
		<script type="text/javascript" src="topnav.js"></script>
		<h1 style="font-size: 5.25rem; 
				padding-left: 3.125rem; 
				padding-bottom: 1rem;
				border-bottom: #6C757D; 
				border-bottom-style: solid;
				border-width: thin;">用户反馈管理</h1>
		<div style="width:80%;margin-left:auto;margin-right:auto;">
			<table class="table table-default  table-hover">
				<thead>
					<tr>
						<th>反馈号</th>
						<th>用户号</th>
						<th>内容</th>
					</tr>
				</thead>
				<tbody id="app1">
					<template v-if="adv.length">
						<tr v-for="(item,index) in adv">
							<th style="vertical-align: middle;">{{item.id}}</th>
							<th style="vertical-align: middle;">{{item.user_id}}</th>
							<th style="vertical-align: middle;">{{item.content}}</th>
						</tr>
					</template>
					<template v-else>
						<tr>
							<th>暂无反馈</th>
						</tr>
					</template>
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
			var app1 = new Vue({
				el:'#app1',
				data:{
					adv:[]
				}
			})
			function getData(){
				$.ajax({
					type:"get",
					url:"http://localhost:8080/store/getUserAdvise",
					async:true,
					success:function(data) {
						app1.adv = data
					}
				});
			}
			window.onload = getData;
		</script>
	</body>
</html>
